.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  display: grid;
  gap: 0;
  justify-content: center;
  align-content: center;
}

.grid-cell {
  border: 1px solid rgba(220, 243, 255, 0.3);
  box-sizing: border-box;
  transition: all 0.2s ease;
  cursor: pointer;
}

.grid-cell.focused {
  border: 2px solid rgba(237, 249, 255, 0.9);
  background-color: rgba(50, 108, 139, 0.1);
  box-shadow: inset 0 0 5px rgba(149, 218, 255, 0.3),
    0 0 10x rgba(255, 255, 255, 0.4);
}
