.button-list {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  overflow-x: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
button.active {
  border-color: #646cff;
}
button:disabled {
  cursor: default;
  opacity: 0.6;
}

button:last-child {
  margin-right: 0.5rem;
}
