.scene {
  position: relative;
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.scene > canvas .scene-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#stats {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

#stats canvas {
  width: max(100px, 10vw, 10vh);
  height: max(60px, 6vh, 6vw);
  user-select: none;
}
